<p id="notice"><%= notice %></p>
<header>
  <h1>中医古籍</h1>
  <h2>中医古籍阅读</h2>
</header>
<ul>
  <% @books.each do |book| %>
      <li><%= link_to book.title, book, title: book.intro %></li>
  <% end %>
</ul>


<br>

<%= link_to 'New Book', new_book_path %>
