<!DOCTYPE html>
<html>
  <head>
    <title>WizBook</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application1', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application1', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
